<form role="form" ng-submit="save()">
	<div class="form-group" ng-show="res.key">
		<label for="key">Key:</label>
		<p>{{res.key}}</p>
	</div>
	<div class="form-group">
		<label>
			Name: <input type="text" class="form-control" id="name" name="name" ng-model="res.name" />
		</label>
	</div>
	<div class="form-group">
		<label>
			Type:
			<select class="form-control" id="type" name="type" ng-model="res.type">
				<option value="FILE">File</option>
				<option value="STREAM">Stream</option>
			</select>
		</label>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
